@import '../../../styles/variables';
@import '../../../styles/mixins';

.newsItem {
  margin-bottom: 115px;
  width: 48%;
  height: 524px;
  position: relative;

  @media (max-width: $media-tablet) {
    height: 480px;
  }
  @media (max-width: $media-mobile) {
    width: 85%;
    height: 450px;
  }
  @media (max-width: $small-mobile) {
    margin-bottom: 70px;
    width: 100%;
    height: 400px;
  }

  .newsItemImage {
    width: 100%;
    height: 100%;
    border-radius: 36px;
    overflow: hidden;

    .newsItemImageImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .2s ease-in-out;
    }
  }

  .newsItemDate {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 8px 13px;
    background-color: #FFFFFF;
    border-radius: 10px;

    .newsItemDateDate {
      font-size: 15px;
      font-weight: 500;
      color: $color-main;
    }
  }

  .newsItemInfo {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 90%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 36px;
    box-shadow: 0 20px 35px rgba(167, 167, 167, 0.25);

    @media (max-width: $media-tablet) {
      padding: 30px;
    }

    .newsItemInfoTop {
      margin-bottom: 15px;
      display: flex;
      align-items: center;

      .newsItemInfoTopIcon {
        margin-right: 8px;
      }

      .newsItemInfoTopName {
        font-size: $size-text-main;
        line-height: 21px;
        color: $color-main;

        @media (max-width: $small-mobile) {
          font-size: 18px;
        }
      }
    }

    .newsItemInfoTitle {
      margin-bottom: 5px;
      font-size: $size-heading-h6;
      font-weight: 700;
      line-height: 29.3px;
      color: $color-main;

      @media (max-width: $small-mobile) {
        font-size: 22px;
        line-height: 25px;
      }
    }

    .newsItemInfoText {
      margin-bottom: 15px;

      p {
        font-size: $size-text-main;
        font-weight: 300;
        line-height: 29.7px;
        color: $color-abbey;

        @media (max-width: $small-mobile) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}