@import '../styles/_variables.scss';

.backToTopButton {
  position: fixed;
  z-index: 100;
  bottom: -100px;
  right: 50px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  background-color: #274C5B;
  transition: all .3s linear;
  cursor: pointer;

  @media (max-width: $small_mobile) {
    right: 30px;
    width: 60px;
    height: 60px;
  }

  &.backToTopButtonActive {
    bottom: 50px;

    @media (max-width: $small_mobile) {
      bottom: 30px;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}