.backToTopButton {
  position: fixed;
  bottom: -100px;
  right: 50px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  background-color: #274C5B;
  transition: all .3s linear;
  cursor: pointer;

  &.backToTopButtonActive {
    bottom: 50px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}