@import '../../../styles/variables';
@import '../../../styles/mixins';

.sectionTitle {
  display: flex;
  flex-direction: column;

  &.sectionTitleCenter {
    align-items: center;
  }

  &.sectionTitleLeft {
    align-items: flex-start;
  }

  .sectionTitleOverhead {
    font-size: 36px;
    line-height: 49px;
    color: $color-acapulco;

    @media (max-width: $media-tablet) {
      font-size: 31px;
      line-height: 42px;
    }
    @media (max-width: $small-mobile) {
      font-size: 25px;
      line-height: 35px;
    }
  }

  .sectionTitleTitle {
    font-size: $size-heading-h2;
    font-weight: 700;
    line-height: 59px;
    color: $color-main;

    @media (max-width: $media-tablet) {
      font-size: 45px;
      line-height: 52px;
    }
    @media (max-width: $small-mobile) {
      font-size: 35px;
      line-height: 40px;
    }
  }
}