@import '../styles/_variables.scss';

// Container
@mixin container {
  max-width: 1436px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}

// Buttons
@mixin btn {
  padding: 28px 39px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23.5px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;

  @media (max-width: $small-mobile) {
    padding: 17px 20px;
  }
}

@mixin btn-main {
  @include btn;
  color: #FFFFFF;
  background-color: $color-btn-bg-main;

  &:hover {
    background-color: $color-btn-bg-main-hover;
  }
}

@mixin btn-secondary {
  @include btn;
  color: $color-main;
  background-color: $color-btn-bg-secondary;

  &:hover {
    background-color: $color-btn-bg-secondary-hover;
  }
}

@mixin btn-third {
  @include btn;
  color: $color-main;
  background-color: #FFFFFF;
  border: 2px solid $color-btn-bg-main;

  &:hover {
    background-color: $color-btn-bg-third-hover;
  }
}

// PageHeading Title
@mixin page_heading-title {
  font-size: $size-heading-h1;
  font-weight: 700;
  line-height: 82px;
  color: $color-main;

  @media (max-width: $media-tablet) {
    font-size: 65px;
    line-height: 75px;
  }
  @media (max-width: $media-mobile) {
    font-size: 60px;
    line-height: 70px;
  }
  @media (max-width: $small-mobile) {
    font-size: 40px;
    line-height: 50px;
  }
}