// Colors
$color-main: #274C5B;
$color-acapulco: #7EB693;
$color-golden_sand: #EFD372;
$color-alto: #D4D4D4;
$color-saltpan: #EFF6F1;
$color-abbey: #525C60;

$color-btn-bg-main: #274C5B;
$color-btn-bg-main-hover: #152a33;
$color-btn-bg-secondary: #EFD372;
$color-btn-bg-secondary-hover: #dcb844;
$color-btn-bg-third: #FFFFFF;
$color-btn-bg-third-hover: #d9d9d9;

// Font sizes
$size-heading-h1: 70px;
$size-heading-h2: 50px;
$size-heading-h3: 40px;
$size-heading-h4: 35px;
$size-heading-h5: 30px;
$size-heading-h6: 25px;

$size-text-main: 18px;

$size-button: 20px;

// Media queries
$small_mobile: 500px;
$media-medium_mobile: 600px;
$media-mobile: 768px;
$media-tablet: 1024px;
$media-desktop: 1700px;