@import './mixins';
@import './_variables';

.container {
  @include container;

  .content {
    padding: 164px 0 121px 0;

    @media (max-width: $media-tablet) {
      padding: 100px 0 80px 0;
    }
    @media (max-width: $media-mobile) {
      padding: 80px 0 40px 0;
    }
    @media (max-width: $small-mobile) {
      padding: 30px 0 10px 0;
    }

    .list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .listItem {
        margin-bottom: 43px;
        width: 451px;

        @media (max-width: $small-mobile) {
          margin-bottom: 18px;
        }

        .listItemTop {
          margin-bottom: 21px;
          width: 100%;
          height: 421px;
          position: relative;
          border-radius: 20px;
          overflow: hidden;

          @media (max-width: $small-mobile) {
            margin-bottom: 15px;
            height: 280px;
          }

          &:hover {
            .listItemTopInfo {
              opacity: 1;
            }
          }

          .listItemTopImage {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
          }

          .listItemTopInfo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            padding: 20px;
            z-index: 2;
            background: rgba(255, 255, 255, 0.9);
            border-radius: 20px;
            opacity: 0;
            transition: opacity .2s ease-in-out;

            p {
              font-size: $size-text-main;
              font-weight: 300;
              line-height: 29.7px;
              color: $color-abbey;

              @media (max-width: $small-mobile) {
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }

        .listItemTitle {
          margin-bottom: 2px;
          font-size: $size-heading-h6;
          font-weight: 700;
          line-height: 29.3px;
          color: $color-main;

          @media (max-width: $small-mobile) {
            font-size: 21px;
            line-height: 25px;
          }
        }

        .listItemText {
          font-size: 22px;
          line-height: 29.88px;
          color: $color-acapulco;

          @media (max-width: $small-mobile) {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
