@import './mixins';
@import './_variables';

.qualityStandard {
  padding: 146px 0;

  @media (max-width: $media-tablet) {
    padding: 100px 0;
  }
  @media (max-width: $media-mobile) {
    padding: 80px 0;
  }
  @media (max-width: $small-mobile) {
    padding: 50px 0;
  }

  .container {
    @include container;

    .content {
      .mainImage {
        margin-bottom: 70px;
        width: 100%;
        height: 742px;

        @media (max-width: $media-tablet) {
          margin-bottom: 35px;
          height: 600px;
        }
        @media (max-width: $media-mobile) {
          height: 400px;
        }
        @media (max-width: $small-mobile) {
          height: 300px;
          margin-bottom: 20px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .contentContainer {
        max-width: 936px;
        margin: 0 auto;

        .title {
          margin-bottom: 28px;
          font-weight: 700;
          font-size: $size-heading-h2;
          line-height: 59px;
          color: $color-main;

          @media (max-width: $media-mobile) {
            font-size: 45px;
            line-height: 52px;
          }
          @media (max-width: $small-mobile) {
            font-size: 35px;
            line-height: 42px;
            margin-bottom: 15px;
          }
        }

        .text {
          margin-bottom: 70px;

          @media (max-width: $media-tablet) {
            margin-bottom: 50px;
          }
          @media (max-width: $small-mobile) {
            margin-bottom: 30px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          p {
            margin-bottom: 30px;
            font-size: $size-text-main;
            font-weight: 300;
            line-height: 29.7px;
            color: $color-abbey;

            @media (max-width: $media-tablet) {
              margin-bottom: 10px;
            }
            @media (max-width: $small-mobile) {
              font-size: 16px;
              line-height: 24px;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .list {
          margin-bottom: 70px;

          @media (max-width: $media-tablet) {
            margin-bottom: 40px;
          }

          .listItem {
            margin-bottom: 28px;
            display: flex;
            align-items: stretch;

            @media (max-width: $media-mobile) {
              margin-bottom: 20px;
            }
            @media (max-width: 600px) {
              flex-direction: column;
            }

            &:nth-child(2) {
              .listItemImage {
                order: 2;
                margin-right: 0;
                margin-left: 20px;

                @media (max-width: 600px) {
                  margin-left: 0;
                  order: 1;
                }
              }

              .listItemContent {
                order: 1;

                @media (max-width: 600px) {
                  order: 2;
                }
              }
            }

            &:last-child {
              margin-bottom: 0;
            }

            .listItemImage {
              margin-right: 20px;
              width: 40%;
              border-radius: 20px;
              overflow: hidden;

              @media (max-width: 600px) {
                margin-right: 0;
                width: 100%;
                margin-bottom: 18px;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .listItemContent {
              padding: 63px 45px;
              width: 60%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              border-radius: 20px;
              background-color: #F9F8F8;
              overflow: hidden;

              @media (max-width: $media-mobile) {
                padding: 25px;
              }
              @media (max-width: 600px) {
                width: 100%;
              }

              .listItemContentTitle {
                margin-bottom: 7px;
                font-weight: 500;
                font-size: $size-heading-h6;
                line-height: 29px;
                color: $color-main;

                @media (max-width: $small-mobile) {
                  font-size: 22px;
                  line-height: 25px;
                }
              }

              .listItemContentText {
                p {
                  font-size: $size-text-main;
                  font-weight: 300;
                  line-height: 29.7px;
                  color: $color-abbey;

                  @media (max-width: $small-mobile) {
                    font-size: 16px;
                    line-height: 22px;
                  }
                }
              }
            }
          }
        }

        .titleSmall {
          margin-bottom: 11px;
          font-weight: 700;
          font-size: $size-heading-h4;
          line-height: 59px;
          color: $color-main;

          @media (max-width: $small-mobile) {
            font-size: 28px;
            line-height: 22px;
          }
        }
      }
    }
  }
}