@import '../../../styles/mixins';
@import '../../../styles/variables';

.contactUsLocation {
  margin-bottom: 100px;

  @media (max-width: $media-mobile) {
    margin-bottom: 80px;
  }
  @media (max-width: $small-mobile) {
    margin-bottom: 30px;
  }

  .container {
    @include container;

    .content {
      padding: 122px 108px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-image: url("../../../../public/assets/images/ContactUs-2.png");
      background-size: cover;

      @media (max-width: $media-tablet) {
        padding: 100px 90px;
      }
      @media (max-width: $media-mobile) {
        padding: 60px 50px;
        justify-content: center;
      }
      @media (max-width: $small-mobile) {
        padding: 30px;
      }

      .info {
        padding: 46px 53px;
        max-width: 514px;
        background-color: #FFFFFF;
        border-radius: 30px;

        @media (max-width: $media-mobile) {
          padding: 36px 43px;
        }
        @media (max-width: $small-mobile) {
          padding: 20px;
        }

        .infoOverhead {
          font-size: 36px;
          line-height: 49px;
          color: $color-acapulco;

          @media (max-width: $small-mobile) {
            font-size: 23px;
            line-height: 28px;
          }
        }

        .infoTitle {
          margin-bottom: 10px;
          font-size: $size-heading-h2;
          font-weight: 700;
          line-height: 58.6px;
          color: $color-main;

          @media (max-width: $media-tablet) {
            font-size: 45px;
            line-height: 50px;
          }
          @media (max-width: $small-mobile) {
            margin-bottom: 5px;
            font-size: 30px;
            line-height: 35px;
          }
        }

        .infoText {
          margin-bottom: 19px;

          @media (max-width: $small-mobile) {
            margin-bottom: 10px;
          }

          p {
            font-size: $size-text-main;
            font-weight: 300;
            line-height: 29.7px;
            color: $color-abbey;

            @media (max-width: $small-mobile) {
              font-size: 16px;
              line-height: 21px;
            }
          }
        }

        .infoList {
          .infoListItem {
            margin-bottom: 22px;
            display: flex;
            align-items: flex-start;

            @media (max-width: $small-mobile) {
              margin-bottom: 10px;
            }

            &:last-child {
              margin-bottom: 0;
            }

            .infoListItemImage {
              margin-right: 5px;
            }

            .infoListItemAddress {
              display: flex;
              flex-direction: column;
              font-size: $size-text-main;
              font-weight: 300;
              line-height: 29.7px;
              color: $color-abbey;

              .infoListItemAddressBottom {
                display: flex;
                flex-direction: column;

                @media (max-width: $small-mobile) {
                  font-size: 16px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}