@import '../../../styles/mixins';

.categories {
  padding: 154px 0;

  @media (max-width: $media-tablet) {
    padding: 100px 0;
  }
  @media (max-width: $media-mobile) {
    padding: 80px 0;
  }
  @media (max-width: $small-mobile) {
    padding: 20px 0 30px 0;
  }

  .container {
    @include container;

    .content {

      .margin {
        @media (max-width: $small-mobile) {
          margin-top: -25px;
        }
      }

      .button {
        display: flex;
        justify-content: center;
      }
    }
  }
}