@import '../../styles/mixins';
@import '../../styles/variables';

.experts {
  padding: 154px 0 122px 0;

  @media (max-width: $media-tablet) {
    padding: 100px 0 90px 0;
  }
  @media (max-width: $media-mobile) {
    padding: 80px 0 50px 0;
  }
  @media (max-width: $small-mobile) {
    padding: 30px 0 15px 0;
  }

  .container {
    @include container;

    .content {
      .text {
        max-width: 852px;
        margin: 0 auto 42px;
        text-align: center;

        @media (max-width: $small-mobile) {
          margin: -5px auto 20px;
        }

        p {
          font-size: $size-text-main;
          font-weight: 300;
          line-height: 29.7px;
          color: $color-abbey;

          @media (max-width: $small-mobile) {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
    }
  }
}